<div class="container">
  <p class="text-center">Crear Pruebas unitarias <i class="material-icons prefix">bug_report</i></p>
  <div id="errores">{{{error}}}</div>
  {{#if prueba}}

  <hr>
  <div class="row">
    <form class="col s12" action="/prueba/editar/{{prueba.idTest}}" autocomplete="off" method="POST">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">fingerprint</i>
          <input name="idTest" type="text" class="validate" value="{{prueba.idTest}}">
          <label for="idTest">ID</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <i class="material-icons prefix">local_atm</i>
          <select name="tipoTrx">
            <option value="{{prueba.tipoTrx}}" selected>{{prueba.tipoTrx}}</option>
            {{#each tipoTrx}}
              <option value="{{this.tipoTrx}}">{{this.tipoTrx}}</option>
            {{/each}}
          </select>
          <label for="tipoTrx">Tipo de Transacción</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">bug_report</i>
          <select name="resultadoEsperado">
            <option value="{{prueba.resultadoEsperado}}" selected>{{prueba.resultadoEsperado}}</option>
            {{#each tipoRespuestaTrx}}
              <option value="{{this.codigoRespuestaTrx}}">{{this.tipoRespuestaTrx}}</option>
            {{/each}}
          </select>
          <label for="resultadoEsperado">Respuesta Esperada</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">code</i>
          <input name="isoTest" type="text" class="validate" value="{{prueba.isoTest}}">
          <label for="isoTest">Mensaje ISO</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">description</i>
          <input name="descripcion" type="text" class="validate" value="{{prueba.descripcion}}">
          <label for="descripcion">Descipción</label>
        </div>
      </div>
      <button type="submit" class="waves-effect waves-light btn right">Guardar</button>
    </form>
  </div>
  {{/if}}
</div>
