
<div class="container" style="text-align:center;">
  <h3>Testing para Link</h3>
  <h5>Pruebas a Ejecutar</h5>
    <div id="errores">{{{error}}}</div>

    {{#if pruebas}}
    <hr>
      <a class="waves-effect waves-light btn" onclick="ejecutarTodo()">Ejecutar todas las pruebas</a>
    <hr>
    <table>
      <thead>
        <tr>
            <th style="text-align:center;">Id Test</th>
            <th style="text-align:center;">Tipo Trx</th>
            <th style="text-align:center;">Descripcion</th>
            <th style="text-align:center;">Ejecutada</th>
            <th style="text-align:center;">Resultado</th>
            <th style="text-align:center;">Tiempo</th>
            <th style="text-align:center;">Accion</th>
        </tr>
      </thead>
      <tbody>
        {{#each pruebas}}
        <tr>
          <td style="text-align:center;">{{this.idTest}}</td>
          <td style="text-align:center;">{{this.tipoTrx}}</td>
          <td style="text-align:center;">{{this.descripcion}}</td>
          <td style="text-align:center;" id="resultado{{this.idTest}}"><i style="color:red;" class="small material-icons">clear</i></td>
          <td style="text-align:center;" id="respuesta{{this.idTest}}"></td>
          <td style="text-align:center;" id="tiempo{{this.idTest}}"></td>
          <td style="text-align:center;"><a class="waves-effect waves-light btn execute" id="{{this.idTest}}" onclick="ejecutarTrx('{{this.idTest}}')">Ejecutar</a></td>
        </tr>
        {{/each}}
      </tbody>
    </table>
    {{else}}
    <hr>
      No hay pruebas activadas, activelas desde <a href="/prueba">aqui</a>
    <hr>
    {{/if}}
</div>
<a class="waves-effect waves-light btn modal-trigger hide buttonModal" href="#modal2">Modal</a>

<div id="modal2" class="modal">
  <ul id="tabs-swipe-demo" class="tabs">
    <li class="tab col s3"><a class="active" href="#test-swipe-1">Datos</a></li>
    <li class="tab col s3"><a href="#test-swipe-2">ISO enviada</a></li>
    <li class="tab col s3"><a href="#test-swipe-3">ISO recibida</a></li>
  </ul>

  <div id="test-swipe-1" class="modal-content">
    <h4>Datos de Ejecucion</h4>
    <hr>
    <table class="table table-striped">
      <thead>
        <tr style="text-align: left;">
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr class="tipoTrx" style="text-align:left;"></tr>
        <tr class="resultadoEsperado" style="text-align:left;"></tr>
        <tr class="resultadoRecibido" style="text-align:left;"></tr>
        <tr class="ultimaEjecucion" style="text-align:left;"></tr>
        <tr class="isoTest" style="text-align:left;"></tr>
        <tr class="isoUltimaEjecucion" style="text-align:left;"></tr>
      </tbody>
    </table>
  </div>
  <div id="test-swipe-2" class="col s12">
    <div class="container">
      <h4 style="margin-top:20px;">ISO Enviada</h4>
      <hr>
      <table class="table table-striped">
      	<thead>
      	  <tr style="text-align: left;">
        		<th>Campo</th>
        		<th>Valor</th>
      	  </tr>
      	</thead>
      	<tbody class="ISOINPUT">
      	</tbody>
        </table>
    </div>
  </div>
  <div id="test-swipe-3" class="col s12">
    <div class="container">
      <h4 style="margin-top:20px;">ISO Recibida</h4>
      <hr>
      <table class="table table-striped">
      	<thead>
      	  <tr style="text-align: left;">
        		<th>Campo</th>
        		<th>Valor</th>
      	  </tr>
      	</thead>
      	<tbody class="ISOOUTPUT">
      	</tbody>
        </table>
    </div>
  </div>
  <div class="modal-footer">
    <a class="modal-close waves-effect waves-green btn-flat">Cerrar</a>
  </div>
</div>
<script type="text/javascript">
function verInfo(id) {
  var direccion = "/prueba/verInfo"
  $.ajax(
    {
      url: direccion,
      type: 'POST',
      data: { ID: id},
      success: function(result){
        if(result) {
          if(result.error) {
            document.getElementById('errores').innerHTML = document.getElementById('errores').innerHTML + result.error;
          }else{

            $('.buttonModal')[0].click();
            document.getElementsByClassName('tipoTrx')[0].innerHTML = '<td style="text-align:left;"><strong>Tipo de Trx:</strong></td><td> '  + result.tipoTrx  + '</td>';
            document.getElementsByClassName('resultadoEsperado')[0].innerHTML = '<td style="text-align:left;"><strong>Respuesta Esperada:</strong></td><td> '  + result.resultadoEsperado + '</td>';
            document.getElementsByClassName('resultadoRecibido')[0].innerHTML = '<td style="text-align:left;"><strong>Resultado Recibida:</strong></td><td> '  + result.resultadoRecibido + '</td>';
            if(result.ultimaEjecucion){var ultimaHtml = '<i style="color:green;" class="small material-icons">check</i>'}else{var ultimaHtml = '<i style="color:red;" class="small material-icons">clear</i>'};
            document.getElementsByClassName('ultimaEjecucion')[0].innerHTML = '<td style="text-align:left;"><strong>Resultado de ejecucion:</strong></td><td> '  + ultimaHtml + '</td>';
            document.getElementsByClassName('isoTest')[0].innerHTML = '<td style="text-align:left;"><strong>ISO enviada:</strong></td><td> <pre>'  + result.isoTest + '</pre></td>';
            document.getElementsByClassName('isoUltimaEjecucion')[0].innerHTML = '<td style="text-align:left;"><strong>ISO respuesta:</strong></td><td> <pre>'  + result.isoUltimaEjecucion + '</pre></td>';

            var htmlISOINPUT = "";
            result.isoInput.Campos.forEach(function(item) {
              htmlISOINPUT = htmlISOINPUT + '<tr><td>' + item.Campo + '</td><td>' + item.Valor + '</td></tr>'
            });
            var htmlISOOUTPUT = "";
            result.isoOutput.Campos.forEach(function(item) {
              htmlISOOUTPUT = htmlISOOUTPUT + '<tr><td>' + item.Campo + '</td><td>' + item.Valor + '</td></tr>'
            });

            document.getElementsByClassName('ISOINPUT')[0].innerHTML = htmlISOINPUT;
            document.getElementsByClassName('ISOOUTPUT')[0].innerHTML = htmlISOOUTPUT;
          };
        };
      },
      error: function(excepcion){
        console.log(excepcion);
      }
    });
  };
function ejecutarTodo() {
  $('.execute').each(function() {this.click()})
};
  function ejecutarTrx(id) {
    var d = new Date();
    var f = d.getMilliseconds();
    var direccion = "/ejecutarTrx"
    $.ajax(
      {
        url: direccion,
        type: 'POST',
        data: {ID: id},
        success: function(result){
          if(result) {
            if(result.error) {
              document.getElementById('errores').innerHTML = result.error;
              document.getElementById('respuesta'+id).innerHTML = '<i style="color:red;" class="small material-icons">clear</i>';
            }else{

              document.getElementById('resultado'+id).innerHTML = '<i style="color:green;" class="small material-icons">check</i>';
              if (result.resultado) {
                document.getElementById('respuesta'+id).innerHTML = '<i style="color:green;" class="small material-icons">check</i><a style="cursor: pointer;" class="tooltipped" data-position="top" data-tooltip="Ver resultado" id="' + id + '" onclick="verInfo(' + "'" + id + "'" +')"><i style="color:black;" class="small material-icons">description</i></a>';
                document.getElementById('tiempo'+id).innerHTML = result.tiempo + "ms";
              }else{
                document.getElementById('respuesta'+id).innerHTML = '<i style="color:red;" class="small material-icons">clear</i><a style="cursor: pointer;" class="tooltipped" data-position="top" data-tooltip="Ver resultado" id="' + id + '" onclick="verInfo(' + "'" + id + "'" +')"><i style="color:black;" class="small material-icons">description</i></a>';
                document.getElementById('tiempo'+id).innerHTML = result.tiempo + "ms";
              };
            }
          };
        },
        error: function(excepcion){
            document.getElementById('respuesta'+id).innerHTML = '<i style="color:red;" class="small material-icons">clear</i>';
        }
    });

  };
</script>
